*{
    margin : 0;
    padding : 0;
}

.bulb{
    margin : 100px;
    height : 99px;
    width : 99px;
    border-radius: 50%;
    color : grey;
    background-color: grey;
}

button{
    padding : 10px;
    margin-left : 127px;
}